--swiftversion 6.0
--indent 4
--maxwidth 140
--commas inline
--trimwhitespace always
--header strip
--self remove
--importgrouping testable-bottom
--ranges spaced
--patternlet hoist
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--ifdef no-indent
--enable isEmpty
--enable redundantReturn
--enable redundantSelf
--enable spaceAroundOperators
--enable trailingCommas
--enable wrapMultilineStatementBraces
--disable hoistAwait
